<form [formGroup]="personalInfoForm">
  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input formControlName="firstName" (focus)="onTouched()" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input formControlName="lastName" (focus)="onTouched()" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email (async validation)</mat-label>
    <input formControlName="email" (focus)="onTouched()" matInput>
  </mat-form-field>
</form>
