<form [formGroup]="addressForm">
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <input formControlName="country" (focus)="onTouched()" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input formControlName="city" (focus)="onTouched()" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Street</mat-label>
    <input formControlName="street" (focus)="onTouched()" matInput>
  </mat-form-field>
</form>
